In [ ]:
Q1. What are escape characters, and how do you use them?

A1. escape characters means some pre define charactors for printing a string, like \(back slash) then char. name
if use \ it will allow you to continue code in new line but output will in same line as it should return return
if you give \t it will return tab (more spaces)
if you give \n it will return new line see below

In [2]:
('a bc')

'a bc'

In [14]:
('a b\
c') #can also write code like that

'a bc'

In [ ]:
Q2. What do the escape characters n and t stand for?

A2. \n will give new line and \t will give tab space, see below

In [19]:
print('a\nb') #\n will give you new line in return

a
b

In [25]:
print('a\tb')#this will give tab (7 space)

a	b

In [26]:
print('a       b') # same like that

a       b

In [ ]:
Q3. What is the way to include backslash characters in a string?

A3. to print \ in string give space after backslash, see below

In [41]:
print("5\ 7")

5\ 7

In [ ]:
Q4. "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

A4. because its in double quote string, means to print single quote ' in string it must in double quote " see belwo

In [42]:
print("HowI's Moving Castle")

HowI's Moving Castle

In [43]:
print('HowI's Moving Castle')

SyntaxError: invalid syntax (35689836.py, line 1)

In [ ]:
in above if we type all in single quote it will give error of syntex as after HowI string quote is over after that s moving...
is not understand by python

In [ ]:
same to print double quotes "" in string you need to use single quote in start and end, see below

In [48]:
print('its my "LIFE"')

its my "LIFE"

In [ ]:
Q5. How do you write a string of newlines if you don't want to use the n character?

A5. means to print new line we use \n in string, but without that to print we can use end="\n" its same like \n, see below

In [50]:
print('its old line \nits new line') #this is with \n

its old line
its new line

In [51]:
print('its old line',end='\n') # its without \n inside string
print('its new line')

its old line
its new line

In [ ]:
Q6. What are the values of the given expressions?
'Hello, world!'[1] 
'Hello, world!'[0:5] 
'Hello, world!'[:5] 
'Hello, world!'[3:]

A6. [1] will return 'e'
[0:5] will return 'Hello'
[:5] will return 'Hello'
[3:] will return 'lo, world!'

see below

In [53]:
'Hello, world!'[1]

'e'

In [54]:
'Hello, world!'[0:5]

'Hello'

In [55]:
'Hello, world!'[:5]

'Hello'

In [56]:
'Hello, world!'[3:]

'lo, world!'

In [57]:
Q7. What are the values of the following expressions?
'Hello'.upper() 
'Hello'.upper().isupper() 
'Hello'.upper().lower()

A7. .upper() will return 'HELLO'
.upper().isupper() will return True
.upper().lower() will return 'hello'
see below

Object `expressions` not found.

In [58]:
'Hello'.upper()

'HELLO'

In [59]:
'Hello'.upper().isupper()

True

In [60]:
'Hello'.upper().lower()

'hello'

In [ ]:
Q8. What are the values of the following expressions?
'Remember, remember, the fifth of July.'.split() 
'-'.join('There can only one.'.split())

A8. .split() by defult will saperate from space and '-'.join(''.split()) this will joint - in place of every space, see below

In [67]:
'Remember, remember, the fifth of July.'.split() #it will return in list

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [65]:
'-'.join('There can only one.'.split()) #it will return in string

'There-can-only-one.'

In [68]:
'-'.join('There can only one.')#without split it will add - after every character and will return in string

'T-h-e-r-e- -c-a-n- -o-n-l-y- -o-n-e-.'

In [ ]:
Q9. What are the methods for right-justifying, left-justifying, and centering a string?

A9. for any justfying of string use just(n,"*") here you need to specify n=total number of item print as here its * 
so for left just it will print string in left and after that it will print *, if more than string char n number of times, see below

In [76]:
'left justify'.ljust(1)#if n is less then length of string it will print as it is

'left justify'

In [78]:
'left justify'.ljust(15)# if charector not given for justfying it will take space by defult here 3 space after y bcos
#len of string is 12 and n is given 15 so its more than len of string so remaining 3 will space as return

'left justify   '

In [79]:
'left justify'.ljust(15,"*")# here it will give 3 star * in last

'left justify***'

In [90]:
'right justify'.rjust(15)# here in right it will return first justfy item or by defualt its blank

'  right justify'

In [96]:
'right justify'.rjust(15, "-")# here it will return 2 dash -

'--right justify'

In [97]:
'center justify'.center(15)# here it will return both side justify item or space to keep it center

' center justify'

In [98]:
'center justify'.center(17,"*")# here out of 3 star it will return 2 in left and 1 in right

'**center justify*'

In [99]:
'center justify'.center(20,"*")# to give same size return give even numbers

'***center justify***'

In [ ]:
Q10. What is the best way to remove whitespace characters from the start or end?

A10.to remove space from left can use lstrip() to remove space from right use rstrip(), see below

In [101]:
'     space at both side        '.rstrip()#remove space from right side

'     space at both side'

In [102]:
'     space at both side        '.lstrip()#remove space from left side

'space at both side        '

In [104]:
'     space at both side        '.strip()#remove space from both side

'space at both side'