In [1]:
Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

"1. In the below elements which of them are values or an expression? eg:- values can be\ninteger or string and expressions will be mathematical operators.\n*\n'hello'\n-87.8\n-\n/\n+\n6 "

In [ ]:
A1. In the below elements 
* is expression and its multiply operator
'hello' - is vlaue, and its a string value
-87.8 - is value and its a float value in negative
- is expression and its subtraction operator
/ is expression and its division operator
+ is expression and its addtion operator
6  - is value, and its a integer value

In [ ]:
Q2. What is the difference between string and variable?

In [ ]:
A2.
string  - string is a specific type of value that having textual data represent in quotes like 'text1' or "text2"

variable - A variable is a name that refers to a value stored in memory, variable can be use/assign for any data type
like integer, float, string, list, etc. below is some examples of variable
a='abc' (here a is variable and type of a is string)
b=10 (here b is variable and type of b is integer)
c=2.2 (here c is variable and type of c is float)
d=[1,3.3,'ineuron',4+5j] (here d is variable and type of d is list)

In [ ]:
Q3. Describe three different data types.

In [ ]:
A3. actualy there any more than 3 data type available in python, like integer, float, string, list, tuple, complex, etc.
below is 3 data type details

1. integer - this data type use for whole number with no decimal point. 
For example, 15, -3, and 0 all are integers.
In Python we can do arithmetic operations such as addition, subtraction, multiplication, moduler/percentage and division

2.string - this data type use for text data and write in quotes like 'abc', 'rajesh', etc.

3.list - list data type is use for store mulitple or single data type values in a list, also we can add list inside a list
below some examples of list
a=[1,2,3] here a is list, and value of list can be accessed/identify by its index value like a[0] is 1, a[2] is 3
all are integers in a list
b=[1,2,3.3,4+5j,'rajesh'] here b is list, and it has multi type of data type inside 
like b[0] is 1 and type is integer, b[2] is 3.3 and type is float, b[3] is 4+5j its complex type 
in that 4 is real and 5 is imaginery no., b[4] is 'rajesh' it is string type

c=[1,2,3,['a','b'],[5+6j, 9+10j],[3.3,4.5,2.11]] here c is list and its nested list as list inside a list in thi if we want
to access 5+6j for that c=[4][0] need to type means it will go to 2nd index from zero index and than go to zero index in a
4th index

In [ ]:
Q4. What is an expression made up of? What do all expressions do?

In [ ]:
A4. expression is meade by combination of operator and operant/variable and which give result after caluculate the condition
like 
a=10 # this is statement
a=a+10 # this is expression

In [ ]:
Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
spam = 10 is showing that variable spam has value 10, but its not calculating or updating in any result or output
like in expression we add operators woth operants to calculate and that become expression from assignment
spam = 10+a # this is assignment

In [ ]:
Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon + 1
print(bacon)

22

In [ ]:
A6. it will remain same 22 because bacon is not adding 1 in bacon it self as per code, its just showing bacon +1, that is temp.
add 1 in bacon but not store in bacon variable

In [2]:
print(bacon+1)

23

In [3]:
print(bacon) # to add 1 parmantly in bacon we need to type bacon = bacon + 1

22

In [ ]:
Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [ ]:
A7. both will have same output, as in 
'spam' + 'spamspam' = spamspamspam - this will add spam with spamspam
spam * 3 - this will print 3 time spam one after one continusly

In [4]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

In [6]:
print('spam' + 'spamspam') == print('spam' * 3)

spamspamspam
spamspamspam

True

In [ ]:
Q8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
generally in python its prefer to use variable names start with charator or underscore, numbers are recommaneded as its number and we can not start with numbers like

In [7]:
5=2 # here if i consider or assign 5 as variable then python will not allow as its number

SyntaxError: cannot assign to literal (2046517187.py, line 1)

In [ ]:
Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
A9. for integer  - int() - this will give value as integer 
for float-point - float() - this will give value as float
for string - str() - this will give value in string

In [ ]:
Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + 'burritos.'

In [ ]:
A10. because we can not add string with integer value

In [9]:
print('I have eaten ' + 99 + 'burritos.') # in this 99 is integer value and can not add with string

TypeError: can only concatenate str (not "int") to str

In [11]:
print('I have eaten ' + '99' + ' burritos.') #solution we can make 99 as string by puting it in quotes

I have eaten 99 burritos.

In [ ]:
thanks